html,
body {
  width: 100%;
  height: 100%;
}

#app {
  height: 100%;
}

/* 登录页 */
.login {
  width: 100%;
  height: 100%;
  background: url(../image/sign_bg.png) no-repeat top center;
  background-size: cover;
  background-color: #b8e5f8;
}
.login-img {
  text-align: center;
  padding-top: 60px;
}

.login-img img {
  width: 128px;
  height: 81px;
}

.login-item {
  display: flex;
  height: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginleft {
  width: 320px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.loginright {
  width: 430px;
  background-color: #fff;
  padding: 20px;
}

.loginleft-title {
  line-height: 23px;
  font-weight: 600;
  font-size: 16px;
  padding-top: 40px;
}

.loginleft-erm {
  margin: 10px 0;
}

.loginleft-erm img {
  width: 180px;
  height: 180px;
}

.loginleft-message {
  line-height: 23px;
  font-weight: 600;
}

.loginleft ul {
  display: flex;
  margin-top: 20px;
}

.loginleft ul li {
  margin: 0 5px;
}

.loginleft .el-button {
  font-size: 10px;
}

.login-item .el-input {
  margin-top: 20px;
}

.login-item .el-input__wrapper {
  padding: 7px;
}

/* 登录按钮 */
.login-item .el-button {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
}

.otherwise {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  position: relative;
}

.otherwise-title {
  color: #9198a4;
  font-size: 12px;
}

.otherwise-title::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  width: 124px;
  height: 1px;
  background-color: #eee;
}

.otherwise-title::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 10px;
  width: 124px;
  height: 1px;
  background-color: #eee;
}

.otherwise ul {
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding-top: 20px;
  width: 200px;
}

.otherwise ul li svg {
  width: 24px;
  height: 24px;
  background-color: #f6f6f8;
  border-radius: 50%;
  padding: 5px;
}

/* 定位：子绝父相 */
.code-bth {
  position: relative;
}
.code-bth .el-link {
  position: absolute;
  right: 18px;
  top: 30px;
  font-size: 16px;
}

.agreement {
  text-align: center;
  margin-top: 20px;
}

/* 页面头部 */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 1px 3px #ddd;
}
.appheader {
  display: flex;
  align-items: center;
  max-width: 1280px;
  min-width: 1000px;
  margin: auto;
}

.el-container .el-header {
  padding: 0;
}

.el-header .el-menu--horizontal {
  border: 0;
  width: 530px;
  margin-left: 25px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
